vendor/
node_modules/
composer.lock
package-lock.json
.vscode/
public/css/main.css
public/assets/images/users/* 
public/assets/images/products/* 
!public/assets/images/products/product.webp
!public/assets/images/users/user.webp
storage/cache/views/*.*